.git
.env
airflow_settings.yaml
astro

.pytest_cache
.venv
airflow
airflow.db
.idea
__pycache__
.pyc
*.pyc
/tests/airflow.cfg
/tests/airflow.db
/tests/unittests.cfg
/tests/logs/
/tests/logs/scheduler/latest/
.hypothesis/
webserver_config.py

webserver_config.py
airflow.cfg
.pytest_cache
logs
/airflow.db
